.quote {
  width: 500px;
  margin: 70px 0 0 85px;
  color: #ffffff;

  @media screen and (device-width: 1024px) {
    margin: 30px 0 0 40px;
  }

  @media screen and (device-width: 768px) {
    margin: 30px 0 50px calc(50% - 250px);
  }

  @media screen and (device-width: 568px) {
    margin: 30px 0 50px calc(50% - 250px);
  }

  .quote-text {
    margin-bottom: 30px;
    font-family: $Cardo;
    font-size: 36px;
    font-style: italic;
    line-height: 42px;

    @media screen and (device-width: 1024px) {
      margin-bottom: 5px;
      font-size: 28px;
      width: 400px
    }

    @media screen and (device-width: 768px) {
      margin-bottom: 5px;
      font-size: 24px;
      width: 400px
    }
  }

  .quote-author {
    font-family: $Raleway;
    font-size: 13px;
    font-weight: 700;
    line-height: 21px;
    text-transform: uppercase;

    @media screen and (device-width: 768px) {
      font-size: 11px;
    }
  }
}