@import url("https://fonts.googleapis.com/css?family=Cardo:400i|Raleway:300,400,700");
/* line 5, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/active/_app-button.scss */
.button {
  width: 200px;
  height: 46px;
  background-color: #e84545;
  color: #ffffff;
  display: block;
  font-family: "Raleway, " "Lato", "Arial", "Helvetica", "Verdana", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
}
/* line 13, ../sass/active/_app-button.scss */
.button:hover {
  text-decoration: none;
  color: #ffffff;
}

/* line 1, ../sass/active/_app-social-buttons.scss */
.social-holder {
  position: relative;
  border: 1px solid #e8ecee;
  width: 40px;
  height: 40px;
  margin-right: 4px;
  text-align: center;
}
/* line 9, ../sass/active/_app-social-buttons.scss */
.social-holder:hover {
  background-color: #e84545;
}
/* line 12, ../sass/active/_app-social-buttons.scss */
.social-holder:hover .fa {
  color: #ffffff;
}
/* line 17, ../sass/active/_app-social-buttons.scss */
.social-holder a {
  display: block;
  width: 100%;
  height: 100%;
}

/* line 24, ../sass/active/_app-social-buttons.scss */
.fa {
  position: absolute;
  color: #c6cacc;
  font-size: 20px !important;
  top: calc(50% - 10px);
}
/* line 30, ../sass/active/_app-social-buttons.scss */
.fa-facebook {
  left: calc(50% - 5.5px);
}
/* line 34, ../sass/active/_app-social-buttons.scss */
.fa-twitter {
  left: calc(50% - 9.5px);
}
/* line 38, ../sass/active/_app-social-buttons.scss */
.fa-linkedin-square {
  left: calc(50% - 8.5px);
}

/* line 1, ../sass/animation/_app-nav-fixed.scss */
.fixed {
  background-color: #3a3e64 !important;
  position: fixed;
  z-index: 2;
  width: 100%;
  left: 0;
}

/* line 1, ../sass/animation/_app-active-link.scss */
.active {
  color: red !important;
}

/* line 1, ../sass/bootstrap/navbar.scss */
.navbar {
  padding: 20px 0;
}
/* line 4, ../sass/bootstrap/navbar.scss */
.navbar-nav {
  width: 100% !important;
}
/* line 7, ../sass/bootstrap/navbar.scss */
.navbar-nav li {
  margin-left: 40px;
}
/* line 10, ../sass/bootstrap/navbar.scss */
.navbar-nav li a {
  text-decoration: none;
  opacity: 0.75;
  color: #ffffff;
  font-family: "Raleway, " "Lato", "Arial", "Helvetica", "Verdana", sans-serif;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
}
/* line 19, ../sass/bootstrap/navbar.scss */
.navbar-nav li a:hover {
  text-decoration: none;
}
/* line 26, ../sass/bootstrap/navbar.scss */
.navbar-brand h1 {
  color: #ffffff;
  font-family: "Myriad Pro", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

/* line 1, ../sass/bootstrap/container-fluid.scss */
.container-fluid {
  position: relative;
  padding: 0;
  overflow: hidden;
}

/* line 1, ../sass/bootstrap/col.scss */
.col-xl-6, .col-lg-6, .col-md-6, .col-sm-12 {
  padding: 0 !important;
}

/* line 1, ../sass/content/_app-features-list.scss */
.features-list {
  margin-top: 100px;
}
/* line 4, ../sass/content/_app-features-list.scss */
.features-list-item {
  position: relative;
  width: 296px;
  margin-bottom: 148px;
  text-align: center;
}
/* line 11, ../sass/content/_app-features-list.scss */
.features-list-title {
  color: #2d3033;
  font-family: "Raleway, " "Lato", "Arial", "Helvetica", "Verdana", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 25px;
}
/* line 20, ../sass/content/_app-features-list.scss */
.features-list-text {
  color: #6c7279;
  font-family: "Raleway, " "Lato", "Arial", "Helvetica", "Verdana", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

/* line 29, ../sass/content/_app-features-list.scss */
.pen:before {
  position: absolute;
  content: url("../images/pen.png");
  width: 60px;
  height: 60px;
  top: -94px;
  left: calc(50% - 30px);
}

/* line 38, ../sass/content/_app-features-list.scss */
.monitor:before {
  position: absolute;
  content: url("../images/monitor.png");
  width: 73px;
  height: 60px;
  top: -94px;
  left: calc(50% - 36.5px);
}

/* line 47, ../sass/content/_app-features-list.scss */
.bulb:before {
  position: absolute;
  content: url("../images/bulb.png");
  width: 41px;
  height: 60px;
  top: -94px;
  left: calc(50% - 20.5px);
}

/* line 56, ../sass/content/_app-features-list.scss */
.atom:before {
  position: absolute;
  content: url("../images/atom.png");
  width: 56px;
  height: 60px;
  top: -94px;
  left: calc(50% - 28px);
}

/* line 65, ../sass/content/_app-features-list.scss */
.beg:before {
  position: absolute;
  content: url("../images/beg.png");
  width: 72px;
  height: 60px;
  top: -94px;
  left: calc(50% - 36px);
}

/* line 74, ../sass/content/_app-features-list.scss */
.cloud:before {
  position: absolute;
  content: url("../images/cloud.png");
  width: 79px;
  height: 60px;
  top: -94px;
  left: calc(50% - 39.5px);
}

/* line 2, ../sass/content/_app-projects-list.scss */
.projects-list li {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
}
/* line 7, ../sass/content/_app-projects-list.scss */
.projects-list li img {
  transition: all 1s ease-out;
}
/* line 11, ../sass/content/_app-projects-list.scss */
.projects-list li:hover {
  background: linear-gradient(to bottom, #e84545, #e84545);
}
/* line 14, ../sass/content/_app-projects-list.scss */
.projects-list li:hover .hidden-text {
  display: block;
  color: white;
  z-index: 1;
}
/* line 20, ../sass/content/_app-projects-list.scss */
.projects-list li:hover img {
  opacity: 0.6;
  transform: scale(1.3);
}
@media screen and (min-device-width: 1400px) {
  /* line 2, ../sass/content/_app-projects-list.scss */
  .projects-list li {
    flex-basis: 25%;
  }
}
@media screen and (device-width: 1024px) {
  /* line 2, ../sass/content/_app-projects-list.scss */
  .projects-list li {
    flex-basis: 25%;
  }
}
@media screen and (device-width: 768px) {
  /* line 2, ../sass/content/_app-projects-list.scss */
  .projects-list li {
    flex-basis: 50%;
  }
}
@media screen and (device-width: 568px) {
  /* line 2, ../sass/content/_app-projects-list.scss */
  .projects-list li {
    flex-basis: 100%;
  }
}
/* line 42, ../sass/content/_app-projects-list.scss */
.projects-list li img {
  width: 100%;
  height: 100%;
}

/* line 49, ../sass/content/_app-projects-list.scss */
.hidden-text {
  position: absolute;
  width: 100%;
  display: none;
  text-align: center;
  top: calc(50% - 41px);
}
/* line 56, ../sass/content/_app-projects-list.scss */
.hidden-text h5 {
  color: #ffffff;
  font-family: "Raleway, " "Lato", "Arial", "Helvetica", "Verdana", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
/* line 64, ../sass/content/_app-projects-list.scss */
.hidden-text p {
  margin-top: 13px;
  color: #ffffff;
  font-family: "Raleway, " "Lato", "Arial", "Helvetica", "Verdana", sans-serif;
  font-size: 14px;
  font-weight: 400;
  opacity: 1;
}

/* line 1, ../sass/content/_app-mates-list.scss */
.mates {
  margin-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-device-width: 768px) {
  /* line 1, ../sass/content/_app-mates-list.scss */
  .mates {
    justify-content: space-between;
  }
}
@media screen and (device-width: 568px) {
  /* line 1, ../sass/content/_app-mates-list.scss */
  .mates {
    justify-content: center;
  }
}
/* line 14, ../sass/content/_app-mates-list.scss */
.mates-item {
  display: flex;
  flex-direction: column;
  width: 270px;
  margin-bottom: 40px;
}
@media screen and (device-width: 1024px) {
  /* line 14, ../sass/content/_app-mates-list.scss */
  .mates-item {
    flex-basis: 50%;
  }
}
/* line 25, ../sass/content/_app-mates-list.scss */
.mates-title {
  width: 270px;
  margin-top: 30px;
  color: #2d3033;
  font-family: "Raleway, " "Lato", "Arial", "Helvetica", "Verdana", sans-serif;
  font-size: 22px;
  font-weight: 400;
}
/* line 34, ../sass/content/_app-mates-list.scss */
.mates-post {
  width: 270px;
  margin-top: 11px;
  color: #e84545;
  font-family: "Raleway, " "Lato", "Arial", "Helvetica", "Verdana", sans-serif;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
}
/* line 44, ../sass/content/_app-mates-list.scss */
.mates-text {
  width: 270px;
  margin: 30px 0 31px 0;
  color: #6c7279;
  font-family: "Raleway, " "Lato", "Arial", "Helvetica", "Verdana", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
@media screen and (device-width: 1024px) {
  /* line 54, ../sass/content/_app-mates-list.scss */
  .mates-photo, .mates-title, .mates-post, .mates-text, .mates .social-btn-list {
    margin-left: calc(50% - 135px);
  }
}

/* line 1, ../sass/content/_app-quote.scss */
.quote {
  width: 500px;
  margin: 70px 0 0 85px;
  color: #ffffff;
}
@media screen and (device-width: 1024px) {
  /* line 1, ../sass/content/_app-quote.scss */
  .quote {
    margin: 30px 0 0 40px;
  }
}
@media screen and (device-width: 768px) {
  /* line 1, ../sass/content/_app-quote.scss */
  .quote {
    margin: 30px 0 50px calc(50% - 250px);
  }
}
@media screen and (device-width: 568px) {
  /* line 1, ../sass/content/_app-quote.scss */
  .quote {
    margin: 30px 0 50px calc(50% - 250px);
  }
}
/* line 18, ../sass/content/_app-quote.scss */
.quote .quote-text {
  margin-bottom: 30px;
  font-family: "Cardo", "Garamond", "Georgia", "New York", serif;
  font-size: 36px;
  font-style: italic;
  line-height: 42px;
}
@media screen and (device-width: 1024px) {
  /* line 18, ../sass/content/_app-quote.scss */
  .quote .quote-text {
    margin-bottom: 5px;
    font-size: 28px;
    width: 400px;
  }
}
@media screen and (device-width: 768px) {
  /* line 18, ../sass/content/_app-quote.scss */
  .quote .quote-text {
    margin-bottom: 5px;
    font-size: 24px;
    width: 400px;
  }
}
/* line 38, ../sass/content/_app-quote.scss */
.quote .quote-author {
  font-family: "Raleway, " "Lato", "Arial", "Helvetica", "Verdana", sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
}
@media screen and (device-width: 768px) {
  /* line 38, ../sass/content/_app-quote.scss */
  .quote .quote-author {
    font-size: 11px;
  }
}

/* line 1, ../sass/content/_app-layer.scss */
.app-layer {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* line 1, ../sass/sections/_app-big-section-padding.scss */
.big-section-padding {
  padding-top: 100px;
}

/* line 1, ../sass/sections/_app-welcome-section.scss */
.welcome-section {
  padding-bottom: 100px;
}
/* line 4, ../sass/sections/_app-welcome-section.scss */
.welcome-section span {
  display: block;
}
/* line 8, ../sass/sections/_app-welcome-section.scss */
.welcome-section h1 {
  color: #ffffff;
  margin-top: 156px;
  font-family: "Open Sans", sans-serif;
  font-size: 65px;
  font-weight: 700;
  line-height: 71px;
  text-transform: uppercase;
}
@media screen and (min-device-width: 1400px) {
  /* line 8, ../sass/sections/_app-welcome-section.scss */
  .welcome-section h1 {
    margin-top: 156px;
    width: 912px;
  }
}
@media screen and (device-width: 1024px) {
  /* line 8, ../sass/sections/_app-welcome-section.scss */
  .welcome-section h1 {
    margin-top: 40px;
    font-size: 50px;
    width: 700px;
  }
}
@media screen and (device-width: 768px) {
  /* line 8, ../sass/sections/_app-welcome-section.scss */
  .welcome-section h1 {
    margin-top: 50px;
    font-size: 40px;
    width: 600px;
  }
}
@media screen and (device-width: 568px) {
  /* line 8, ../sass/sections/_app-welcome-section.scss */
  .welcome-section h1 {
    margin-top: 50px;
    font-size: 26px;
    width: 450px;
  }
}
/* line 41, ../sass/sections/_app-welcome-section.scss */
.welcome-section p {
  color: #ffffff;
  width: 912px;
  margin: 41px 0 77px 0;
  font-family: "Raleway, " "Lato", "Arial", "Helvetica", "Verdana", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
}
@media screen and (min-device-width: 1400px) {
  /* line 41, ../sass/sections/_app-welcome-section.scss */
  .welcome-section p {
    width: 912px;
  }
}
@media screen and (device-width: 1024px) {
  /* line 41, ../sass/sections/_app-welcome-section.scss */
  .welcome-section p {
    width: 700px;
  }
}
@media screen and (device-width: 768px) {
  /* line 41, ../sass/sections/_app-welcome-section.scss */
  .welcome-section p {
    width: 600px;
  }
}
@media screen and (device-width: 568px) {
  /* line 41, ../sass/sections/_app-welcome-section.scss */
  .welcome-section p {
    width: 450px;
  }
}

/* line 3, ../sass/sections/_app-quote-section.scss */
.quote-section-left {
  position: relative;
}
/* line 6, ../sass/sections/_app-quote-section.scss */
.quote-section-left img {
  width: 100%;
  height: 100%;
}
/* line 12, ../sass/sections/_app-quote-section.scss */
.quote-section-right {
  background-color: #53354a;
}

/* line 1, ../sass/sections/_app-download.scss */
.download {
  margin-bottom: 100px;
  height: 410px;
}
/* line 5, ../sass/sections/_app-download.scss */
.download-title {
  margin-top: 70px;
  color: #2d3033;
  font-family: "Raleway, " "Lato", "Arial", "Helvetica", "Verdana", sans-serif;
  font-size: 28px;
  font-weight: 300;
  line-height: 21px;
}
/* line 14, ../sass/sections/_app-download.scss */
.download-text {
  margin: 16px 0 40px 0;
  color: #2d3033;
  font-family: "Raleway, " "Lato", "Arial", "Helvetica", "Verdana", sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
}

/* line 1, ../sass/sections/_app-site-footer.scss */
.footer {
  padding: 71px 0 0 0;
  background-color: #3a3e64;
}
/* line 5, ../sass/sections/_app-site-footer.scss */
.footer li {
  margin-bottom: 35px;
}
/* line 9, ../sass/sections/_app-site-footer.scss */
.footer-title {
  margin-bottom: 22px;
  color: #ffffff;
  font-family: "Raleway, " "Lato", "Arial", "Helvetica", "Verdana", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
/* line 18, ../sass/sections/_app-site-footer.scss */
.footer-text {
  opacity: 0.5;
  color: #ffffff;
  font-family: "Raleway, " "Lato", "Arial", "Helvetica", "Verdana", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22.5px;
}

/* line 28, ../sass/sections/_app-site-footer.scss */
.location p {
  width: 146px;
  margin-left: calc(50% - 73px);
}

/* line 33, ../sass/sections/_app-site-footer.scss */
.share .social-btn-list {
  margin-left: calc(50% - 64px);
}

/* line 39, ../sass/sections/_app-site-footer.scss */
.about h4 {
  margin-bottom: 22px;
  color: #ffffff;
  font-family: "Myriad Pro", serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
/* line 48, ../sass/sections/_app-site-footer.scss */
.about p {
  width: 328px;
  margin-left: calc(50% - 164px);
}
