.footer {
  padding: 71px 0 0 0;
  background-color: #3a3e64;

  li {
    margin-bottom: 35px;
  }

  &-title {
    margin-bottom: 22px;
    color: #ffffff;
    font-family: $Raleway;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &-text {
    opacity: 0.5;
    color: #ffffff;
    font-family: $Raleway;
    font-size: 14px;
    font-weight: 400;
    line-height: 22.5px;
  }
}

.location p {
  width: 146px;
  margin-left: calc(50% - 73px);
}

.share .social-btn-list {
  margin-left: calc(50% - 64px);
}

.about {

  h4 {
    margin-bottom: 22px;
    color: #ffffff;
    font-family: "Myriad Pro", serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
  }

  p {
    width: 328px;
    margin-left: calc(50% - 164px);
  }
}